{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">Breakfast Menu</h1>
        <h3 class="display-1 d-flex display-6">Main's</h3>
<!-- mains -->
          <div class="card-body col-10">
            <h5 class="card-title">THE CLASSIC BREAKFAST</h5>
            <p class="card-text">Two pork sausages, two rashers of back bacon, your choice of fried, scrambled or poached free-range eggs, two hash browns, tomato, 
                mushroom and heinz® baked beans. add a 4oz rump steak.</p>
          </div>
          <div class="col-2 price">
            £10
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Smashed Avocado & Mojo Picon (ve)</h5>
            <p class="card-text">Smashed avocado, mojo picon, pico de gallo & spring
                onion on toasted sourdough</p>
          </div>
          <div class="col-2 price">
            £8
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Scrambled Eggs On Toast (v or ve)</h5>
            <p class="card-text">Soft scrambled eggs on lightly buttered toasted
                sourdough. Switch up to fried, poached or scrambled
                tahini tofu (ve) if you fancy</p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Blueberry Pancakes (v or ve)</h5>
            <p class="card-text">2 fresh blueberry pancakes with butter & maple syrup</p>
          </div>
          <div class="col-2 price">
            £7
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">THE VEGGIE BREAKFAST (V)</h5>
            <p class="card-text">Two hash browns, two vegan sausages, two vegetable fingers, tomato, mushroom, heinz® baked beans and your 
                choice of fried, scrambled or poached free-range eggs</p>
          </div>
          <div class="col-2 price">
            £10
          </div>
<!-- Sides -->
          <h3 class="display-1 d-flex display-6">Sides</h3>

          <div class="card-body col-10">
            <h5 class="card-title">Fries (ve)</h5>
          </div>
          <div class="col-2 price">
            £4
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Harissa Cheese Fries (v)</h5>
            <p class="card-text">With Mojo Picon</p>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">French Toast (v)</h5>
          </div>
          <div class="col-2 price">
            £3.5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Hash Browns (ve)</h5>
            <p class="card-text">With Chipotle Ketchup</p>
          </div>
          <div class="col-2 price">
            £3
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Fresh Berries (V)</h5>
          </div>
          <div class="col-2 price">
            £4.5
          </div>
<!-- Drinks -->
          <h3 class="display-1 d-flex display-6">Drinks</h3>

          <div class="card-body col-10">
            <h5 class="card-title">Tea</h5>
          </div>
          <div class="col-2 price">
            £3
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Coffee</h5>
          </div>
          <div class="col-2 price">
            £4
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Orange juice</h5>
            <p class="card-text">With or without bits</p>
          </div>
          <div class="col-2 price">
            £3
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Smoothie of the day</h5>
            <p class="card-text">Please ask the waitor for today's special</p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Water</h5>
            <p class="card-text">Sparkling or still</p>
          </div>
          <div class="col-2 price">
            £3
          </div>
    </div>
</div>

{%endblock%}