{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">My Bookings</h1>
<table class="table table_id pt-5 text-center">
     <thead>

      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Number of People</th>
        <th scope="col">Requests</th>
        <th scope="col">Approved</th>
        <th scope="col"></th>

      </tr>
    </thead>
   
  </table>


{%endblock%}