{% extends "base.html" %}

{% block content %}

<header class="masthead menu drinks">
    <div class="container">
        <div class="masthead-heading text-uppercase">Drinks</div>
        <div class="masthead-subheading">Ask for any custom drinks if they do not appear on the menu</div>
    </div>
  </header>

<div class="container">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">Drinks Menu</h1>
        <!-- Cold drinks -->
        <hr>
        <h3 class="display-1 d-flex display-6">Cold Drinks</h3>
          <div class="drinks card-body col-10">
            <h6 class="card-title">Coke </h6>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="drinks card-body col-10">
            <h6 class="card-title">Fanta</h6>
          </div>
          <div class="col-2 price">
            £7
          </div>
          <div class="drinks card-body col-10">
            <h6 class="card-title">Coke Zero</h6>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="drinks card-body col-10">
            <h6 class="card-title">Coke Diet</h6>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="drinks card-body col-10">
            <h6 class="card-title">Sprite</h6>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <!-- Main's -->
   <!-- Beers -->
   <hr>
   <h3 class="display-1 d-flex display-6">Beer's</h3>
     <div class="drinks card-body col-10">
       <h6 class="card-title">Efes </h6>
     </div>
     <div class="col-2 price">
       £5
     </div>
     <div class="drinks card-body col-10">
       <h6 class="card-title">San Miguel</h6>
     </div>
     <div class="col-2 price">
       £7
     </div>
     <div class="drinks card-body col-10">
       <h6 class="card-title">Asahi</h6>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="drinks card-body col-10">
       <h6 class="card-title">Peroni</h6>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="drinks card-body col-10">
       <h6 class="card-title">Corona</h6>
     </div>
     <div class="col-2 price">
       £6
     </div>
   <!-- Red Wine -->
   <hr>
   <h3 class="display-1 d-flex display-6">Red Wine</h3>
     <div class="card-body col-10">
       <h5 class="card-title">Malbec</h5>
       <p class="card-text">Domaine Bousquet 2021, Mendoza, Argentina 14%</p>
     </div>
     <div class="col-2 price">
       £5
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Grenache/Gamay</h5>
       <p class="card-text">Davy’s No 1 Red, France 13.5%</p>
     </div>
     <div class="col-2 price">
       £7
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Merlot/Cabernet Sauvignon</h5>
       <p class="card-text">Davy’s 150th Cuvée Claret, Bordeaux, France 13.5%</p>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Nero d’Avola</h5>
       <p class="card-text">Rupe Secca 2021, Sicily, Italy 13%</p>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Pinot Noir</h5>
       <p class="card-text">Mount Brown 2020, North Cantebury, New Zealand 13%</p>
     </div>
     <div class="col-2 price">
       £6
     </div>
<!-- White Wine -->
   <hr>
   <h3 class="display-1 d-flex display-6">White Wine</h3>
     <div class="card-body col-10">
       <h5 class="card-title">Chardonnay</h5>
       <p class="card-text">Sidewood Estate 2020, Adelaide Hills, Australia 12%</p>
     </div>
     <div class="col-2 price">
       £5
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Pinot Grigio</h5>
       <p class="card-text">Zapallares Reserva 2020, San Antonio Valley, Chile 13.5%</p>
     </div>
     <div class="col-2 price">
       £7
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Fiano</h5>
       <p class="card-text">Carlomagno 2021, Puglia, Italy 12.5%</p>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Cortese</h5>
       <p class="card-text"> Gavi La Zerba 2021, Piedmont, Italy 13.5% </p>
     </div>
     <div class="col-2 price">
       £6
     </div>
     <div class="card-body col-10">
       <h5 class="card-title">Sauvignon Blanc</h5>
       <p class="card-text"> Rikus Neethling 2021, Western Cape, South Africa 13.5%</p>
     </div>
     <div class="col-2 price">
       £6
     </div>
    </div>
</div>

{%endblock%}