{% extends "base.html" %}

{% block content %}

<header class="masthead menu main">
    <div class="container">
        <div class="masthead-heading text-uppercase">Main's</div>
        <div class="masthead-subheading">Mon-Sun from 12pm</div>
    </div>
  </header>

<div class="container">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">Main Menu</h1>
        <!-- starters -->
        <hr>
        <h3 class="display-1 d-flex display-6">Starters</h3>
          <div class="card-body col-10">
            <h5 class="card-title">Stonebaked Garlic Flatbread</h5>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Buttermilk Chicken Goujons</h5>
            <p class="card-text">Served with your choice of our '74 BBQ'
                 or '74 HOT Sauce</p>
          </div>
          <div class="col-2 price">
            £7
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Cheesy Grilled Mushrooms</h5>
            <p class="card-text">Served on ciabatta and finished with
                rocket and shaved Parmesan</p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Cheesy Potato Dippers</h5>
            <p class="card-text">Topped with cheese & spring onion</p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Cauliflower Popcorn</h5>
            <p class="card-text">Cauliflower florets in a light & crispy
                batter</p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <!-- Main's -->
          <hr>
          <h3 class="display-1 d-flex display-6">Mains</h3>

          <div class="card-body col-10">
            <h5 class="card-title">Smothered Chicken Melt</h5>
            <p class="card-text">Chargrilled chicken breast glazed in our
                '74 BBQ' sauce topped with oak-smoked
                streaky bacon and melted cheese, served
                with triple-cooked chips & house slaw
                (858 kcal)</p>
          </div>
          <div class="col-2 price">
            £14
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Mixed Vegetable Grill Combo</h5>
            <p class="card-text">Seasoned corn, flat mushroom, red peppers,
                red onions and halloumi with roasted
                tomato. Served with skinny fries, Grill Master
                beans, mac & cheese, house slaw and our
                '74 BBQ§
                 sauce (1,520 kcal)</p>
          </div>
          <div class="col-2 price">
            £12
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Plant Based Combo</h5>
            <p class="card-text">Meatless Farm® Plant-Based Chicken Breast,
                GARDEN GOURMET® Sensational™ Vegan
                sausage, seasoned corn, flat mushroom, red
                peppers, red onions and roasted tomato.
                Served with skinny fries, Grill Master beans,
                vegan slaw and our '74 BBQ'
                 sauce (1,011 kcal)</p>
          </div>
          <div class="col-2 price">
            £14
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">The House Stack</h5>
            <p class="card-text">Two signature beef burgers layered with
                Cheddar, oak-smoked bacon, burger sauce,
                '74 BBQ sauce§
                , lettuce, tomatoes and red
                onion. Served with skinny fries, house slaw </p>
          </div>
          <div class="col-2 price">
            £20
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Beer-Battered Haddock & Chips</h5>
            <p class="card-text">Served with triple-cooked chips, tartare
                sauce and mushy peas  </p>
          </div>
          <div class="col-2 price">
            £15
          </div>
<!-- Desserts -->
          <hr>
          <h3 class="display-1 d-flex display-6">Desserts</h3>

          <div class="card-body col-10">
            <h5 class="card-title">Banoffee Waffle Sundae</h5>
            <p class="card-text">Vanilla ice cream layered with a
                caramel flavoured sauce, freshly
                sliced banana and warm waffles
                topped with a whip of cream and
                chocolate shavings</p>
          </div>
          <div class="col-2 price">
            £9
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Sticky Toffee Pudding</h5>
            <p class="card-text">Light sponge topped with a
                rich sticky toffee sauce. Served
                with custard</p>
          </div>
          <div class="col-2 price">
            £8
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Triple Chocolate Brownie</h5>
            <p class="card-text">Triple chocolate brownie with
                chunks of white, milk and Belgian
                dark chocolate. Served with
                chocolate sauce and vanilla ice
                cream </p>
          </div>
          <div class="col-2 price">
            £6
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Apple Pie</h5>
            <p class="card-text">Served with custard</p>
          </div>
          <div class="col-2 price">
            £5
          </div>
    </div>
</div>

{%endblock%}