{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">Main Menu</h1>

          <div class="card-body col-10">
            <h5 class="card-title">British grains From Hodmedod’s In Suffolk</h5>
            <p class="card-text">Risotto, charred leeks, chestnut mushroom broth</p>
          </div>
          <div class="col-2 price">
            £10
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">Roasted Jerusalem Artichokes</h5>
            <p class="card-text">Risotto, charred leeks, chestnut mushroom broth</p>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">POACHED EGG</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">SCRAMBLED FREE-RANGE EGGS (V)</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="col-2 price">
            £5
          </div>
          <div class="card-body col-10">
            <h5 class="card-title">THE VEGGIE BREAKFAST (V)</h5>
            <p class="card-text">Two hash browns, two vegan sausages, two vegetable fingers, tomato, mushroom, heinz® baked beans and your 
                choice of fried, scrambled or poached free-range eggs</p>
          </div>
          <div class="col-2 price">
            £10
          </div>
    </div>
</div>

{%endblock%}