{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1 class="display-1 d-flex justify-content-center">Menu's</h1>
        <div class="card mb-3 menu-card">
            <a href="{% url 'breakfast' %}">
                <img src="https://res.cloudinary.com/dcmdyoyxi/image/upload/v1683465848/plough-menu-breakfast-min_jdpdkp.jpg"
                    class="card-img-top" alt="breakfast">
                <div class="card-body">
                    <h5 class="card-title">Breakfast Menu</h5>
                    <p class="card-text">Served between 9am to 11:30am Monday - Saturday</p>
                </div>
            </a>
        </div>
        <div class="card mb-3 menu-card">
            <a href="{% url 'main' %}">
                <img src="https://res.cloudinary.com/dcmdyoyxi/image/upload/v1683464495/dinner_smyrkl.jpg"
                    class="card-img-top" alt="lunch">
                <div class="card-body">
                    <h5 class="card-title">Main Menu</h5>
                    <p class="card-text">Served from 12 everyday</p>
                </div>
            </a>
        </div>
        <div class="card mb-3 menu-card">
            <a href="{% url 'drinks' %}">
                <img src="https://res.cloudinary.com/dcmdyoyxi/image/upload/v1683465848/plough-menu-drinks-min_j9qxqi.png"
                    class="card-img-top" alt="drinks">
                <div class="card-body">
                    <h5 class="card-title">Drinks Menu</h5>
                    <p class="card-text">If there is something not on the menu, feel free to ask a member of staff
                        to see if it can be made
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>

{%endblock%}